<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Log In</title>
  </head>
  <body>
    <% if (locals.user) { %>
      <h1>
        WELCOME BACK
        <%= user.name %>
        <%= user.id %>
      </h1>
      <a href="/log-out">LOG OUT</a>
      <%
        let returnURL;
        let editURL;
        let noEditURL;
        console.log(requestedFolder.id);
        if (requestedFolderParent.id === null) {
          returnURL = "/";
        } else {
          returnURL = "/folder/" + requestedFolderParent.id;
        }
        if (requestedFolder.id === null) {
          editURL = "/" + "?edit=true";
          noEditURL = "/";
        } else {
          editURL = "/folder/" + requestedFolder.id + "?edit=true";
          noEditURL = "/folder/" + requestedFolder.id;
        }
      %>
      <h2><a href=<%= returnURL %>>Go back</a></h2>
      <% if (editMode === "true") { %>
      <h2><a href=<%= noEditURL %>>Leave edit mode</a></h2>
      <% } else { %>
      <h2><a href=<%= editURL %>>Edit folders</a></h2>
      <% } %>
      <form action="/add-folder" method="POST">
        <label for="title">Title</label>
        <input id="title" name="title" placeholder="title" type="text" />
        <input type="hidden" id="userId" name="userId" value=<%= user.id %>>
        <input type="hidden" id="parentId" name="parentId" value=<%= requestedFolder.id %>>
        <button type="submit">Add folder</button>
      </form>
      <% requestedFolderChildren.forEach((child) => { %>
        <% const childURL = "/folder/" + child.id %>
        <span><a href=<%= childURL %>><%= child.title %></span></a><br />
        <span><%= child.createdAt %></span><br />
        <% if (editMode === "true") { %>
          <button>Edit</button>
          <form action="/delete-folder" method="POST">
            <input type="hidden" id="userId" name="userId" value=<%= user.id %>>
            <input type="hidden" id="folderId" name="folderId" value=<%= child.id %>>
            <!-- <input type="hidden" id="currentId" name="currentId" value=<%= requestedFolder.id %>> -->
            <button type="submit">Delete</button>
          </form>
          <br />
        <% } %>
        <span>----------</span><br />
        <% }); %>
    <% } else { %>
    <h1>please log in or <a href="/sign-up-form">sign up</a></h1>
    <%- include("partials/errors.ejs") %>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input id="username" name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button type="submit">Log In</button>
    </form>
    <%}%>
  </body>
</html>
